body{
    margin: 0px;
    font-family: 'Josefin Sans', sans-serif;
}
h1{
    font-size: 50px;
}
.name{
    color: orange;
}
.half-width{

    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 80%;
}
.banner{
    
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
section{
    height: 500px;
}
.a-button{
    text-decoration: none;
    padding: 10px 20px;
    background-color:orange;
    border-radius: 5px;
    color: white;
    font-weight: 700; 
}
p{
    color: dimgray;
}
.bld{
    margin-left: 87px;
    text-decoration: none;
    padding: 10px 20px;
    background-color:orange;
    border-radius: 7px;
    color: white;
    font-weight: 700;
}